<div class="container">
  <h1>Album List</h1>
  <div class="row" *ngFor="let album of albums | async">
    <div class="col-sm-2">
      <span class="badge" (click)="onSelect(album)">{{album.id}}</span>
    </div>
    <div class="col-sm-2">
      <p>{{album.name}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{album.type}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{album.albumType}}</p>
    </div>
    <div class="col-sm-2">
      <p><img class="img-responsive" width="50" height="50" [src]="album.image"></p>
    </div>
    <div class="col-sm-2">
      <p></p>
    </div>
  </div>
</div>
